
@import "ribbon-tr.less";

body {

}
a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

a.ribbon {
	.ribbon-tr(auto, 6px, auto, #00a147, #fff, #00cc58, #fff);
	font-weight:bold;
	text-decoration: none;
}

header.top {
	position: relative;
	height: 400px;
	text-align: center;
	background: #222 url(../img/header.jpg) repeat;

	h1, h2 {
		color: #fff;
	}

	h1 {
		letter-spacing: 2px;
		font-size: 5em;
		padding-top: 120px;
		padding-bottom: 20px;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	h2 {
		font-weight: 400;
		letter-spacing: 2px;
	}

	.share {
		position: absolute;
		width: 450px;
		top: 8px;
		right: 0;
		text-align: left;

		& > div {
			display: inline-block;

			& > a {
				color: #999;
				padding: 0 8px;
			}
		}
	}

	#quicklinks {
		position: absolute;
		bottom: 0;
		right: 20%;
		list-style-type: none;

		li {
			float: left;
			background: #acc;
			padding: 8px;
			margin: 0 2px;

			a {
				color: #444;
				text-decoration: none;
			}
		}

		li:hover {
			background: #fff;
		}
	}
}

header.top.inner {
	background: #ccc;

	height: 60px;

	h1 {
		display: block;
		width: 57px;
		height: 57px;
		margin: 0;
		padding: 0;

		a {
			display: block;
			text-indent: 100%; white-space: nowrap; overflow: hidden; //ir
			width: 57px;
			height: 57px;
			background: url(../img/icon/114.png) no-repeat;
			background-size: 50px 50px;
			background-position: center center;
		}
	}

	h2 {
		display: none;
	}

	#quicklinks {
		left: 100px;
	}
}

#main {
	width: 80%;
	margin: 0 auto;
	padding-top: 12px;
	color: #444;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.5em;
	line-height: 160%;
	letter-spacing: 1px;

	/* tags */
	h1 {
		font-weight: 400;
		margin: 24px 0;
	}

	h2, h3 {
		font-weight: 400;
		margin: 36px 0 12px 0;
	}

	p {
		margin-bottom: 12px;
		font-weight: 200;
	}

	a {
		color: #060;
	}

	ul {
		margin: 0 0 24px 24px;
		list-style-type: circle;

		li {
			font-weight: 200;
		}
	}

	pre {
		background: #eee;
		padding: 20px;
		margin: 30px 0;
	}

	img[alt='equation'] {
		display: block;
		margin: 0 auto;
	}

}

/* homepage specific styles */
.home {
	#main {
		a {
			img {
				margin: 0 28px;
			}
		}
	}
}

footer {
	margin-top: 24px;
	padding: 12px;
	background: #444;
	text-align: center;
	color: #ccc;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	a {
		color: #fff;
	}
}

@media screen and (max-width: 767px) {

	header.top h1 {
		font-size: 3em;
	}

	.home {
		#main {
			a {
				img {
					margin: 0;
				}
			}
		}
	}

}

@media screen and (max-width: 480px) {
	header.top h1 {
		font-size: 2em;
	}

}